body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #333;
}

p {
    font-size: 18px;
}

img {
    border-radius: 50%;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}